.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/* Edit buttons */
.edit-buttons {
  margin-top:-6px;
  margin-bottom:6px;
}
/* Correct Bootstrap file field padding.*/
.form-control[type="file"] {
  height:inherit;
}
img {
  max-width: 100%;
}
.padder {
  height:100px;
  display:block;
}
