<section data-ng-controller="PicturesController">
    <div class="page-header">
        <h1>Nueva imagen</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre:*</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="alt">Alt (Accesibilidad):</label>
                    <div class="controls">
                        <input type="text" data-ng-model="alt" id="alt" class="form-control" placeholder="atributo alt">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="title">Title:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="atributo title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="upload" class="control-label">Imagen:*</label>
                    <div class="controls">
                        <input type="file" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
                        <span data-ng-if="uploadInProgress">Progreso de la subida: {{ uploadProgress }}</span>
                        <img class="well" width="200px" data-ng-src="{{uploadedImage.public_url}}" data-ng-if="uploadedImage">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
