<section data-ng-controller="PicturesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="picture.name"></h1>
	</div>
	<div class="pull-right edit-buttons" data-ng-show="authentication.user._id == picture.user._id">
		<a class="btn btn-primary" href="/#!/pictures/{{picture._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="picture.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="picture.user.displayName"></span>
		</em>
	</small>
	<img ng-src="{{picture.public_url}}" alt="{{picture.alt}}" title="{{picture.title}}">
</section>
